:root {
  --first-color: #474e68;
  --second-color: #404258;
  --third-color: #9bbec8;
  --fourth-color: #ddf2fd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html {
  scroll-snap-type: y proximity;
  scroll-behavior: smooth;
}
body {
  padding-top: 3.5rem;
  overflow-x: hidden;
}
